.showcase{
    background-image: url("../../../images/bike.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}