.review-container{
    background-image: url(../../images/review-bg.png);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding-top:50px;
    padding-bottom: 50px;
}

.slick-slide>div{
    margin: 0 10px;
}
.slick-list{
    margin: 0 -10px
}
.slick-prev, .slick-next{
    background-color: cadetblue;
}